<h1>Editing vacinacao</h1>

<%= render "form", vacinacao: @vacinacao %>

<br>

<div>
  <%= link_to "Show this vacinacao", @vacinacao %> |
  <%= link_to "Back to vacinacaos", vacinacaos_path %>
</div>
