<h1>Editing vacinacao</h1>

<%= render "form", vacinacao: @vacinacao %>

<br>

<div>
  <%= link_to "Show this vacinacao", usuario_vacinacao_path(:usuario_id => current_usuario,:id => @vacinacao)%> |
  <%= link_to "Back to vacinacaos", usuario_vacinacaos_path(:usuario_id => current_usuario) %>
</div>
