<div id="<%= dom_id vacina %>">
  <p>
    <strong>Nome vacina:</strong>
    <%= vacina.nome_vacina %>
  </p>

  <p>
    <strong>Num lote:</strong>
    <%= vacina.num_lote %>
  </p>

  <p>
    <strong>Data validade:</strong>
    <%= vacina.data_validade %>
  </p>

</div>
